.header__logo {
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: calc(103.74px + 100%/24);
    height: calc(24.4px + 1vw);
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}