.profile__info {
  display: grid;
  position: relative;
  grid-template-columns:auto auto auto;
  min-height: 73px;
  max-width: 70%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .profile__info {
    grid-template-columns: auto fit-content(20px);
    margin: 0 auto;
    padding: 0 0 34px;
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: calc(100% - 38px);
  }
}