.header__button {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity, 1s;
  margin: 0 0 0 24px;
  padding: 0;
}

.header__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .header__button {
    margin: 0 20px 0 24px;
  }
}